.lieu {
  text-align: left;
  margin-top: 2vh;
}

.thème {
  text-align: right;
  margin-top: 2vh;
}

.divers {
  text-align: left;
  margin-top: 2vh;
}

.inscription {
  text-align: center;
}
h2 {
  color: #06283D;
  font-family: 'Dancing Script', cursive;
  margin: 0.5vh;
  padding: 1vh;
  font-size: 4vh;
}


.lieu p {
  font-size: 3vh;
  color: #19A7CE;
}

.thème p {
  font-size: 3vh;
  color: #19A7CE;
}

.divers p {
  font-size: 3vh;
  color: #19A7CE;
}

.sun {
  background-image:url("https://res.cloudinary.com/dvedgufo1/image/upload/v1683812559/pngwing.com_ka9nj7.png");
  height: 25vh;
  width: 25vh;
  background-size: cover;
  position: absolute;
  top: -11vh;
  left: -11vh;
}

.ocean {
  height: 1%;
  width:100%;
  position:absolute;
  bottom:0;
  left:0;
  background: #015871;
}

.wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x;
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}

.form p {
  font-size: 3vh;
  color: #19A7CE;
  font-family: 'Dancing Script', cursive;
}

.suivant {
  color: #19A7CE;
  font-family: 'Dancing Script', cursive;
  text-align: center;
  margin-top: 5vh;
  border: none;
  padding: 4vh 8vh; /* Increase the padding for a larger button */
  font-size: 4vh;
  background-color: #F4F4F4;
  text-decoration:underline;
}

.bienvenue h1 {
  color: #19A7CE;
  font-family: 'Dancing Script', cursive;
}

.rudder {
  background-image:url("https://res.cloudinary.com/dvedgufo1/image/upload/v1683906962/pngwing.com_1_uf8ioa.png");
  height: 45vh;
  width: 45vh;
  bottom: -22vh;
  background-size: cover;
  position:absolute;
}


.photo h3 {
  font-family: 'Dancing Script', cursive;
}
.photo {
  color: #19A7CE;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  bottom: -30vh;
  position: relative;
}
.pho {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-image:url("https://res.cloudinary.com/dvedgufo1/image/upload/v1683907769/appareil-photo_xuzaw1.png");
  height: 8vh;
  width: 8vh;
  background-size:cover;
  position: relative;
}

.bateau {
  bottom: -35vh;
  left: 27vh;
  background-size:cover;
  background-position: center;
  position:relative;
  display:inline-block;
  background-size:cover;
  position: relative;
}

.bat {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-image:url("https://res.cloudinary.com/dvedgufo1/image/upload/v1683910103/ferry-boat_vzgcre.png");
  height: 8vh;
  width: 8vh;

}

.beach {
  background-image:url("https://res.cloudinary.com/dvedgufo1/image/upload/v1683910103/ete_pfkwsl.png");
  height: 8vh;
  width: 8vh;
  right: -1vh;
  bottom: -35vh;
  background-size:cover;
  background-position: center;
  position:relative;
  display:inline-block
}

.formulaire {
  font-family: 'Dancing Script', cursive;
  color: #06283D;
}

.button-container {
  display: flex;
  justify-content: center;
}
