.main {
  height: 00vh;
  background-color: #EEE9DA;
  }

h1 {
  color: #06283D;
  font-family: 'Dancing Script', cursive;
  margin: 3vh;
  padding: 1vh;
  text-align: center;
  font-size: 4vh;
}

.banner {
  display: block;
  margin: auto;
  height: 20vh;
  width: 20vh;
  background-size: cover;
  background-image: url("https://res.cloudinary.com/dvedgufo1/image/upload/v1682004437/banner_nwzsql.png");
}

.info {
  display: block;
  margin: auto;
  height: 10vh;
  width: 10vh;
  background-size: cover;
  background-image:url("https://res.cloudinary.com/dvedgufo1/image/upload/v1683300557/bateau_jh9dos.png");
  &:hover {
    height: 13vh;
    width: 13vh;
    transition-duration: 300ms;
  }
}
