<h1>Inscription</h1>
<div class="form"><p>Indiquez le nombre de personnes que vous souhaitez inscrire ainsi que leur prénom</p>
</div>
<div class="formulaire"><%= simple_form_for (@user) do |f| %>
  <%= f.input :number, label: 'Nombre de personnes' %>
  <%= f.input :name, label: 'Prénoms' %>
  <div class="button-container"> <!-- Add the button container -->
      <%= f.submit 'Suivant', class: 'suivant' %>
  </div>
  <%end%>

</div>
<div class="ocean">
  <div class="wave"></div>
  <div class="wave"></div>
</div>
