<div class="main">
  <h1>C'est le cap des 60 ! Venez fêter mon anniversaire le temps d'une escale "bord de mer" au Perreux !</h1>
  <h1>Si vous êtes interessés, cliquez sur le bateau pour embarquer avec nous !</h1>
  <%= link_to "<div class='info'></div>".html_safe, informations_path %>
  <h1>Sylvie<h1>

<div class="ocean">
  <div class="wave"></div>
  <div class="wave"></div>
</div>
</div>
