<div class="bienvenue"><h1>Merci !</h1></div>
<div class="caard">
<%= link_to "<div class='card-category' style='background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dvedgufo1/image/upload/v1684194084/angelina-litvin-htYqmybzOcI-unsplash_l8ghlj.jpg)'>
  Album Photo
</div>".html_safe, new_user_path %>
<%= link_to "<div class='card-category' style='background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dvedgufo1/image/upload/v1684194717/conor-luddy-tNumsAEsf2I-unsplash_mlqqze.jpg)'>
  Information
</div>".html_safe, informations_path %>
<%= link_to "<div class='card-category' style='background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dvedgufo1/image/upload/v1684194724/joseph-barrientos-eUMEWE-7Ewg-unsplash_xxpojp.jpg)'>
  Inscription
</div>".html_safe, new_user_path %>
</div>
