<div class="bienvenue"><h1>Bienvenue à bord !</h1></div>
<div class="photo"><h3>Album<h3>
  <div class="pho"></div>
</div>
<div class="beach"><h3>Inscription</h3>
  <div class="bea"></div>
</div>
<div class="bateau"><h3>Information</h3>
  <div class="bat"></div>
</div>
<div class="rudder"></div>
