<h1>Informations<h2>
<div class="sun">
</div>
<div class="lieu">
  <h2>Lieu et date</h2>
  <p>La soirée se déroulera le Samedi 2 Septembre à partir de 20h au 17bis avenue du 11 novembre au Perreux sur marne.</p>
</div>
<div class="thème">
  <h2>Thème de la soirée</h2>
  <p>La soirée aura pour thème <strong>"bord de mer et plage"</strong>. Libre interprétation pour votre tenue !</p>
</div>
<div class="divers">
  <h2>Divers</h2>
  <p>Si vous le souhaitez, vous pouvez apporter une bouteille de champagne. Aucune obligation bien sûr! Insrivez vous en cliquant si-dessous:</p>
</div>
<%= link_to "<div class='inscription'<h2>Inscription<h2></div>".html_safe, new_user_path %>
