<h1>Informations<h2>
<div class="sun">
</div>
<div class="lieu">
  <h2>Lieu et date</h2>
  <p>La soirée se déroulera le Samedi 30 Septembre vers 20h, elle aura lieu au 17bis avenue du 11 novembre au Perreux sur marne.</p>
</div>
<div class="thème">
  <h2>Thème de la soirée</h2>
  <p>La soirée aura pour thème le <strong>"bord de mer et plage"</strong>. Vous êtes invités à venir déguisés en conséquence</p>
</div>
<div class="divers">
  <h2>Divers</h2>
  <p>Si vous le souhaitez vous pouvez apporter une bouteille de champagne, ce n'est absolument pas obligatoire bien sûr. Si vous souhaitez venir nous vous demandons de vous inscrire en clickant sur le bouton juste en dessous</p>
</div>
<%= link_to "<div class='inscription'<h2>Inscription<h2></div>".html_safe, new_user_path %>
