<div class="index">
  <div class="new-picture">
  <%= link_to "<button class='btn btn-primary' type='button'>Ajouter une photo</button>".html_safe, new_picture_path %>
  </div>
  <%@pictures.each do |picture|%>
  <div class='card-category' style="background-image: url(<%=cl_image_path picture.photo.key%>)">
  </div>
  <%end%>
</div>
